* {
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: #1993f6;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
}

.app {
  display: flex;
  overflow: hidden;
  max-width: 1360px;
  background: white;
  width: 100vw;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
}
